<p>
  <strong>IdP Entity ID:</strong>
  <%= @saml_setting.idp_entity_id %>
</p>

<p>
  <strong>IdP SSO URL:</strong>
  <%= @saml_setting.idp_sso_url %>
</p>

<p>
  <strong>IdP x509 Certificate:</strong>
  <%= @saml_setting.idp_cert %>
</p>